<ion-view title="'List'" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content has-header="true" padding="false">

    <ul class="list">
        <li class="item">Item 1</li>
        <li class="item">Item 2</li>
        <li class="item">Item 3</li>
        <li class="item">Item 4</li>
        <li class="item">Item 5</li>
        <li class="item">Item 6</li>
        <li class="item">Item 7</li>
        <li class="item">Item 8</li>
        <li class="item">Item 9</li>
        <li class="item">Item 10</li>
        <li class="item">Item 11</li>
        <li class="item">Item 12</li>
    </ul>


  </ion-content>
</ion-view>
